# HGXonf
# by Alexis 'Horgix' Chotard
# https://bitbucket.org/Horgix/

# .gitconfig for Git
# Basic global git configuration

[user]
    name = Alexis 'Horgix' Chotard
    email = alexis.horgix.chotard@gmail.com

[http]
    postBuffer = 524288000

[color]
    ui = true

[alias]
    st = status
    poule = pull

# EOF
